<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>statusbook | entrando</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/side-bar.css" />
    <link rel="stylesheet" href="/styles/page-feed.css" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;600&display=swap" rel="stylesheet">    
  </head>

  <body>
    <div id="page-feed">
      <div id="container">
       
        <header class="header">
          <h1 class="logo">statusbook</h1>
        
            <div class="search">
                <input type="text" placeholder="Procurar...">
                <input type="button">
            </div>

            <div class="hamburger-menu">

              <input type="checkbox"id="hamburguer"  onclick="openMenu()" style="display: none;">

              <label for="hamburguer">

                <div class="hamburguer"></div>
              </label>

            </div>
        </header>

        <aside class="side-bar  appear-right" id="side-bar">

          <div class="initial-page">
            <img src="/images/page-initial.png" alt=""> 
            <a href="/feed">Pagina inicial</a>
          </div>

          <div class="profile">
            <img src="/images/profile.png" alt="">
            <a target="_blank" href="">Perfil</a>

          </div>

          <div class="creator">
            <img src="/images/programming.png" alt="">
            <a target="_blank" href="">Entre em contato</a>
          </div>
          
          <div class="icons">
            <img src="/images/icons.png" alt="">
            <a target="_blank"  href="https://icons8.com.br/">Icones usados nesse site</a>

          </div>

          <div class="config">
            <img src="/images/config.png" alt="">
            <a target="_blank" href="">Configurações</a>
          </div>

        </aside>

        <section class="feed">

          <div class="post">
            
            <form action="/post-publish" method="POST"  onsubmit="validate(event)">

              <textarea name="text" id="post-text" placeholder="O que você está pensando?"></textarea>
            
              <input type="text" name="image" id="post-image"  placeholder="Link da Imagem  (opcional)">
  
              
  
              <p class="error-publish" id="error-publish">Prencha algum dos campos</p>
              <div class="buttons">
                <input type="submit" class="post-button" value="Postar">
                <input type="button" class="cancel-button" value="Cancelar" onclick="toClearField()">
              </div>

            </form>
           
          </div>



          <main class="publications">

           
            
            {% for publication in publications %}

            {%if publication.image == "" %}

            <div class="pub">

              <div class="post-data">
              
                <img src="/images/image-user-blue.png" alt="">

                <div class="name-date">
                  <div class="nickName">{{ publication.nickName }}</div>
              
                  <div class="date">{{ publication.date }}</div>
                </div>
              </div>

              <div class="status">
                <p>{{ publication.text }}</p>
              </div>

              <div class="like">
                <form action="/like-publication" method="POST">
                  <input type="hidden" name=" _method " value="PUT">
                  <span hidden>{{publication.id}}</span>
                  
                  <input type="submit" name="" value="">
                </form>
                <small>2</small>
              </div>

            </div>

            {% else %}
            
            <div class="pub-image">
              <div class="post-data">
              
                <img src="/images/image-user-blue.png" alt="">

                <div class="name-date">
                  <div class="nickName">{{ publication.nickName }}</div>
                  
                  <div class="date">{{ publication.date }}</div>
                </div>
              </div>

              <div class="status">
                <p>{{publication.text}}</p>
              </div>

              <div class="image">
                <img src="{{publication.image}}" alt="">
              </div>

              <div class="like">
                <input type="submit" name="" value="">
                <small>6</small>
              </div>
            </div> 

            {% endif %}

            {% endfor %}

            
<!-- 
    <div class="pub">

              <div class="post-data">
              
                <img src="/images/image-user-blue.png" alt="">

                <div class="name-date">
                  <div class="nickName">{{ publication.nickName }}</div>
              
                  <div class="date">18:23 / 12/11</div>
                </div>
              </div>

              <div class="status">
                <p>{{publication.nickName}}</p>
              </div>

              <div class="like">
                <input type="submit" name="" value="">
                <small>2</small>
              </div>

            </div>

            <div class="pub-image">
              <div class="post-data">
              
                <img src="/images/image-user-blue.png" alt="">

                <div class="name-date">
                  <div class="nickName">Julin</div>
                  
                  <div class="date">18:23 / 12/11</div>
                </div>
              </div>

              <div class="status">
                <p>A rocketseat que me ensinou sobre backend</p>
              </div>

              <div class="image">
                <img src="https://miro.medium.com/max/1200/1*fs0ScMc45X9QEwno8G414A.png" alt="">
              </div>

              <div class="like">
                <input type="submit" name="" value="">
                <small>6</small>
              </div>
            </div> -->


          </main>


        </section>

        <!-- <div class="footer-container">
          <footer class="footer">
            <p>Usamos os icones deste site: <a target="_blank" href="https://icons8.com.br/">Icons8</a></p>
        </footer>
        </div> -->

      </div>
    </div>
  </body>

  <script src="/javascript/menu.js"></script>
  <script src="/javascript/page-feed.js"></script>

</html>
