#container {
    background-color: var(--color-white-weak);

    min-height: 100%;
    height: auto;
    padding-top: 10rem;


}

/* feed */

.feed .post {
    background-color: var(--color-white);


    min-height: 26rem;
    height: auto;
    width: 80vw;

    margin: 2rem auto 0;
    border-radius: 2rem;
}

.feed .post textarea {
    
    border-radius: 2rem 2rem 0 0; 
    overflow: hidden;
    resize: none;
    border: none;
    border-bottom: 2px solid var(--color-blue-weak);
    outline: none;
    
    height: 15rem;
    width: 100%;
    padding: 2rem;


    color: var(--color-black);
    font-size: 1.5rem;
}

.feed .post textarea:focus {
    border-bottom: 2px solid var(--color-blue-black);
}

.feed .post textarea::placeholder{
    text-align: center;
    padding-top: 5rem;
} 

.feed .post input[type='text'] {
    width: 100%;
    height: 3rem;

    margin-top: 0.2rem;
    padding: 0 2rem 0 2rem;

    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-blue-weak);

}

.feed .post input[type='text']:focus {
    border-bottom: 2px solid var(--color-blue-black);

}

.feed .post input[type='text']::placeholder {
    text-align: center;
    font-size: 80%;

}

.feed .post .error-publish {
    color: var(--color-red);
    font-size: 1rem;

    padding-bottom: 1rem;

    display: none;
}


.feed .post .buttons {
    text-align: end;

    padding: 2rem 3rem 2rem 0 ;

}

.feed .post input[type="button"],
.feed .post input[type="submit"] {
    border: none;
    height: 4vh;
    outline: none;

}

.feed .post .post-button {
    width: 25vw;
    background-color: var(--color-blue-black);
    color: var(--color-white);

    transition: background 0.2s;

    font-size: 120%;

}

.feed .post .post-button:hover {
    background-color: var(--color-blue-black-2);
}

.feed .post .cancel-button {
    width: 20vw;
    background-color: var(--color-grey-weak);
    color: var(--color-black);

    font-size: 110%;

}

.feed .post .cancel-button:hover {
    background-color: var(--color-white);
    color: var(--color-red);
}



/*publications */


.pub,
.pub-image {
    background-color: var(--color-white);

    min-height: 13rem;
    height: auto; 
    width: 70vw;

    margin: 5rem auto 0;
    padding: .2rem 0 0rem 0;
    border-radius: 1rem;

    border: .1rem solid var(--color-grey);

}

.pub .post-data,
.pub-image .post-data {
    margin: 2rem 0 0 0;
    
    display: flex;
    align-items: center;
    
    
}

.pub .post-data img,
.pub-image .post-data img {
    height: 5rem;

    border: 1px solid var(--color-blue-black);
    border-radius: 50%;
    margin: 0 1rem 0 1rem;

}

.pub .nickName .date,
.pub-image .nickName .date  {
    color: var(--color-black);
}

.pub .nickName,
.pub-image .nickName {
    margin-bottom: .5rem;
    font-size: 2rem;

    color: var(--color-blue-weak);
}

.pub .date,
.pub-image .date  {
    font-size: .8rem;
    color: var(--color-grey);
}


.pub .status,
.pub-image .status {
    word-wrap: break-word;
    padding: .5rem 0 1rem 0;
} 

.pub .status p,
.pub-image .status p{
    color: var(--color-black);
    display: block;
}


.pub .like,
.pub-image .like  {
    width: 5rem;
    margin: 2rem 0 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pub .like input[type="submit"],
.pub-image .like input[type="submit"] {
    width: 3rem;
    height: 3rem;
    background-color: var(--color-white);

    text-decoration: none;
    border: none;

    background-image: url(/images/like.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* pub image*/ 

.pub-image .image {
    margin-left: 2rem;
}

.pub-image .image img{
    width: 50%;
}


@media(min-width: 750px) {
    /*feed*/

    .feed .post {
        width: 50vw;
    }

    .feed .post input[type="button"],
    .feed .post input[type="submit"] {
        height: 5vh;
    }
 

    .feed .post .post-button {
        width: 15vw;
    }

    .feed .post .cancel-button {
        width: 10vw;
    }


    /* publications */

    .pub,
    .pub-image {

    width: 60vw;
    }
}



@media(min-width: 1100px) {
    /*feed*/

    .feed .post {
    width: 45vw;
    }

    .feed .post input[type="button"],
    .feed .post input[type="submit"] {
        height: 5vh;
    }


    .feed .post .post-button {
       width: 15vw;
    }

    .feed .post .cancel-button {
    width: 10vw;
    }

     /* publications */

     .pub,
     .pub-image {
 
     width: 60rem;
     }

}

