#container {
    height: 100%;
    background-color: var(--color-white-weak);   
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    background: var(--color-white);
    height: 70vh;
    width: 70vw;
    
    border: 1px solid var(--color-grey);
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#login img {
    height: 10rem;
    width: 10rem;

    border: 1px solid var(--color-blue);
    border-radius: 50%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);

    margin: 5vh 0 5vh 0;
}

#login .input-block label  {
    display: block;

    margin-bottom: .5rem;

    font-size: 1.2rem;
    color: var(--color-grey);
}


#login .input-block + .input-block {
    margin-top: 2.5rem;
}


#login .input-block input[type="email"],
#login .input-block input[type="password"],
#login .input-block input[type="text"] {
    height: 5vh;
    width: 50vw;
    text-align: center;
    border: 1px solid var(--color-grey);
    
    
    outline: none;
}

#login .input-block #inputPassword { /* Centralizando a senha no centro do input*/
    padding-top: 1.2rem;
}

#login .input-block input[type="email"]:focus,
#login .input-block input[type="password"]:focus,
#login .input-block input[type="text"]:focus{
    border: 2px dashed var(--color-blue-weak) ;
}

#login .input-block .showPassword {
    margin-top: 1rem;
}

#login .input-block .showPassword small {
    font-size: .9rem;
    margin-left: 0.3rem;
    color: var(--color-grey)

}

#login .input-block input[type="submit"] {
    height: 5vh;
    width: 50vw;
    
    background-color: var(--color-blue-black-2);
    color: var(--color-white);

    border: none;
    outline: none;
}



#login .input-block input[type="submit"]:hover {
    background-color:   var(--color-blue);
}

#login .input-block input[type="submit"]:focus {
    border: 1px solid  var(--color-grey);
}

#login .register {
    margin-top: 1rem;
    font-size: 1.3rem;
}

@media (min-width:1000px) {
    #login {
        height: 90vh;
        width: 30vw;   
        
        
    }

    #login img {
        height: 20vh;
        width: 20vh;
        margin: 6rem 0 6rem 0;
    }

    #login .input-block input[type="email"],
    #login .input-block input[type="password"],
    #login .input-block input[type="text"],
    #login .input-block input[type="submit"]  {
    height: 5vh;
    width: 20vw;
    
    
    }


}